*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to left, rgb(167, 223, 233), rgb(243, 179, 206)); 
}
.container{
    background-image: url(images/bg-headphones.jpg);
    /* background: linear-gradient(to left, rgb(167, 223, 233), rgb(243, 179, 206)); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

                                /* Typography */

h1, h2, h3{
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

header {
    border-bottom: solid 2px #fff;
    margin: 0 4em;
}


strong {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 1.6;
    text-decoration: underline;
}

a, 
.social-icons,
.underline{
    color: rgb(37, 149, 194);
    cursor: pointer;
    text-decoration: none;
}

.social-icons{
    width: 100%;
}

a:hover,
a:focus, 
.social-text:hover, 
.focus-link:hover{
    color: rgb(70, 181, 224);
    cursor: pointer;
}


.company-title {
    text-align: center;
    color: rgb(136, 34, 90);
    background: -webkit-linear-gradient(40deg, rgb(114, 27, 75) 30%,rgb(248, 159, 204));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: .2em;
}

.font-bold {
    font-weight: 900;
}

.main-title{
    font-size: 3.6rem;
    color: rgb(255, 255, 255);
    margin: 0 auto; 
    padding: .15em .2em;
    text-align: center;
    text-shadow: 1px 1px rgb(79, 223, 180);
    letter-spacing: 1px;
    font-weight: 500;
}

.subtitle {
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
 
.intro-title {
    font-weight: 700;
    color: mintcream;
}

.subtitle, 
.blurb, 
.sign-up {
    margin-bottom: 1em;
    color: #3f3d3d;
}

.sign-up{
    text-decoration: underline;
    padding: .4em 0;
}

.blurb {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    line-height: 1.3;
    background: #fff;
    padding: 1em;
    border-radius: 5px;
    max-width: 500px;
    margin: 1em auto 2em auto;
    box-shadow: 5px 10px rgba(114, 27, 75, .05);
}


.intro-blurb {
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #3f3d3d;
}

.focus-link{
    margin:.35em;
    color:rgb(114, 27, 75);
    background-image: linear-gradient(to right, rgb(167, 223, 233), rgb(243, 179, 206));
    padding: .4em .45em;
    border-radius: 8px;
    font-size: 1.188rem;
    text-decoration: none;
}

.social-icons {
    margin: .35em;
    color:rgb(114, 27, 75);
    background-image: linear-gradient(to right, rgb(167, 223, 233), rgb(243, 179, 206));
    padding: 0 .1em;
    border-radius: 8px;
    font-size: 2rem;
}

.icon-1 {
    font-size: 2.1rem;
}

.icon-2 {
    padding: .07em .3em 0em .3em;
    font-size: 1.85rem;
}

                                /* End Typography */

                                /* =================== */


                                /* Button */


.btn-action{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(167, 223, 233), rgb(243, 179, 206));
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    font-size: 1.2rem;
    padding: .5em;
    position: relative;
    text-align: center;
    z-index: 2;

}

.btn-action:hover,
.btn-action:focus {
    outline: none;
    background-image: linear-gradient(to right,  rgb(243, 179, 206), rgb(167, 223, 233));
}

.btn-action:active,
.btn-submit:active{
    outline: none;
    background-image: linear-gradient(to left,  rgb(243, 179, 206), rgb(167, 223, 233));
    font-size: 90%;
}

.btn-submit {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgba(114, 27, 75, .05);
    background-color: rgb(140, 215, 228);
    cursor: pointer;
    max-width: 180%;
    max-height: 100%;
    font-size: 100%;
    padding: .5em;
    text-align: center;
}

.btn-submit:hover,
.btn-submit:focus {
    opacity: .7;        
}

                                /* End Button */
                                /* =================== */


                                /*Form */

input{
    margin-bottom: 1.2em;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 6px rgba(114, 27, 75, .05);
    padding: 1em;
    text-align: center;
}

form {
    border: solid 1px #fff;
    padding: 2em;
    background-color: rgba(216, 213, 213, 0.3);
    width: 100%;
}





                                /* End Form */
                                /* =================== */


                                /* Layout */

img{
    border: solid 1px #fff;
    border-radius: 5px;
    max-width: 100%;
    object-fit: cover;
}

.main-content,
.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.main-content{
    width: 100%;
    display:block;
    position:relative;
    top: 29%;
    text-align: center;
    height: auto;
    padding: 1em 1.2em;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-card {
    margin: 2em auto;
    max-width: 500px;
    margin: 1.2em;
    opacity: 0;
}

.modal {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 5px;
    padding: 2em;
}

.blog-blurb{
    padding: 1.29em;
}

.intro-modal{
    padding: 1em 1em;
    background: none;
    margin-top: -29em;
}
.intro-modal h2 {
    margin-bottom: 3em;
}
.intro-modal p{
    padding: 1.5em;
    background: rgb(255, 255, 255, 0.5);
    border: solid 2px #fff;
}

footer{
    text-align: center;
    color: #fff;
    margin-bottom: 2em;
}

                                            /* End Layout */
                                            /* =================== */
                            /* Animation */


@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}



.open-card-1 {
    animation: fadeIn 2s linear forwards;
    opacity: 1;
}

.open-card-2 {
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.open-card-3 {
    animation: fadeIn 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.open-card-4 {
    animation: fadeIn 2s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
}


.open-card-5 {
    animation: fadeIn 2s;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
}

                                /* End Animation*/


@media (min-width: 750px) {
    .modals{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card{
        width: 325px;
    }

    .subtitle{
        font-size: 1.6rem;
    }

    .intro-modal{
        justify-content: center;
    }

    .intro-title{
        font-size: 1.1rem;
    }


}

@media (min-width: 930px){

    .modals{
        margin-top: -40em;
    }


    .modals{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .top-cards{
        display: inline-block;
        
    }

    .top-card-1{
        margin-right: 5.61em;
    }

    .top-card-2{
        margin-left: 5.61em;
    }

    .top-right-download-card{
        margin-left: -1.7em;
    }

    .bottom-right-form-card{
        margin-right: -1.7em;
    }


    .intro-blurb {
        width: 245px;
    }


    .intro-modal p {
        padding: 0;
    }

    .modal-container{
        max-width: 1000px;
        margin: 1em auto;
    }
}

@media (min-width: 1000px){
    .intro-modal{
        font-size: 1.2rem;
        margin-top: -25em;
    }

    .top-right-download-card{
        margin-left: -6em;
    }

    .bottom-right-form-card{
        margin-right: -6em;
    }

    .intro-blurb {
        width: 300px;
    }

}

@media (min-width: 1400px){

    .intro-title{
        font-size: 2rem;
    }
    .intro-modal{
        font-size: 1.1rem;
        padding: 0;
    }

    .company-title {
        font-size: 1.2rem;
    }
    .intro-blurb {
        width: 280px;
        padding: 1em;
    }

    .modal-container{
        display:flex;
        margin-top: 2em auto;
        justify-content: center;
    }

    .modals{
        display: flex;        
        flex-wrap: unset;
        width: 1518px; 
        align-items: flex-end;
        justify-content: unset;
        margin-top: -39em;
    }

    .modal {
        width: 290px;  
    }

    
    .top-card-2{
        margin-left: 0;
    }

    .top-card-1{
        margin-right: 0;
    }

    .bottom-left-download-card { order: -1000;}
    .center-intro-card { order: 1;}
    .bottom-right-social-card { order: 2;} 
    .bottom-right-form-card { order: 3;}
    
    .info-card{
        margin: .5em;
    }

    .top-left-blog-card{
        margin-right: 9.6em;
    }

    .bottom-right-social-card{
        margin-left: 9.6em;
    }

}
